@media only screen and (min-width: 310px){
  #logo {
    height: 90px;
  }
  body {
    position: sticky;
    background-color: red;
    font-family: Montserrat;
    color: rgb(255, 255, 255, 0.9);
    height: 100%;
    overflow: hidden;
  }
  #video {
    width: 100%;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
  }
  video {
    position: fixed;
    height: 100%;
    z-index: -2;
    opacity: 60%;
  }
  #collapsibleNavbar .nav-link, #collapsibleNavbar .nav-link:visited, #collapsibleNavbar .nav-link{
    /* font-family: "Montserrat"; */
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px;
    color: rgb(255, 255, 255, 0.8);
  }
  .card {
    border: none;
  }
  a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
  }
  #menu, #meat, #veggie, #drinks {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100vh;
  }
  .jumbotron {
    margin-top: 15%;
    width: 75%;
  }
  #menu div {
    border-radius: 5px;
  }
  .row {
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  #meat .card-footer {
    min-height: 180px;
  }
}

@media only screen and (min-width: 1280px){
  .jumbotron {
    width: 50%;
    max-width: 700px;
    margin-top: 5%;
  }
  nav.navbar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
  .row {
    /* max-width: 1200px; */
    margin: auto;
  }
  .row .card-footer {
    height: 200px;
  }
  #drinks .row .card-footer {
    height: auto;
  }
  a[href="#main"]+h3 {
    margin-top: 70px;
  }
  #menu div {
    height: 150px;
  }
}